@font-face
  font-family: 'phosphatesolid'
  @import url('https://fonts.googleapis.com/css?family=Alice')
  @import url('https://fonts.googleapis.com/css?family=Work+Sans')
  font-family: 'Alice', serif
  font-family: 'Work Sans', sans-serif
  src: url('../fonts/phosphate-solid-02-webfont.woff2') format('woff2'), url('../fonts/phosphate-solid-02-webfont.ttf') format('truetype'), url('../fonts/phosphate-solid-02-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
