h1 
  font-family: LibreBaskerville-Regular
  font-size: 2em
  color: $dark-colour
  text-align: left
  font-weight: 100
  margin: 0
  margin-top: 60px
.content 
  .item 
    cursor: pointer
    margin-bottom: 60px
    transition: all 0.4s
    a
      text-decoration: none
      text-decoration-color: black
    &:hover
      text-decoration: underline

.properties 
  margin-left: 2px
  opacity: 0.5
  font-family: SpaceMono-Regular
  color: $dark-colour
  text-align: left
