// base.sass
$dark-colour: #495454
$dark-colour: black
$light-colour: white
@import fonts
@import mixins
@import navigation
@import piezas

body
  transition: all 0.3s
  @include animate(fadein 1s)
  background-color: white
  color: white
  padding: 60px 40px 0 40px
  margin: 0
  font-size: 16px
  @media only screen and (max-width: 600px)
    padding: 0
a
  color: white
  text-decoration: none
  font-family: 'Work Sans'
  opacity: 0.8
  transition: 0.2s
  @media only screen and (max-width: 600px)
    opacity: 1
a:hover
  opacity: 1
.logo a
  opacity: 1
.home
  background-color: $dark-colour

.top-bar
  top: 34px
  display: flex
  width: calc(100% - 80px)
  justify-content: space-between
  z-index: 100
  position: absolute
  @media only screen and (max-width: 600px)
    padding-left: 20px
    top: 24px

.video-container
  position: absolute
  width: calc(100% - 80px)
  height: calc(100% - 160px)
  z-index: -100
  top:52px
  overflow: hidden
  @include box-size(border-box)
  @media only screen and (max-width: 600px)
    width: 100%
    top: 42px
    height: calc(100% - 100px)
  video
    position: absolute
    min-width: 100%
    min-height: 100%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.content
  margin-top: calc(100vh - 60px)
  display: flex
  flex-direction: column
  @media only screen and (max-width: 600px)
    margin: 20px
    margin-top: 100vh
  a
    font-family: 'Alice', serif
    font-size: 50px
    margin: 38px 0

footer
  display: flex
  margin: 40px 0
  @media only screen and (max-width: 600px)
    margin: 20px 0 40px 0
    padding-left: 20px
  a
    margin: 40px 60px 0 0px
